<div class="filter-container">
	<span>Contador: {{ mediator.counter() }}</span>
	<div class="blocks-container">
		<ng-container *ngFor="let filter of mediator.getFilters()">
			<div class="filter-block">
				<div class="filter-label">
					<span>{{filter.config.label}}<span *ngIf="filter.config.required"> * </span></span>
					<!-- <span>{{filter.status()}}</span> -->
				</div>
				<select [value]="filter.config.key" [(ngModel)]="filter.selected"
					(change)="mediator.notify(filter)">
					<option [value]="mediator.defaultValue">{{filter.config.placeholder}}</option>>
					<option *ngFor="let option of filter.data" [value]="option.hash">
						{{option.descricao}}</option>
				</select>
				<div class="filter-status">
					<span>{{filter.isValid()}}</span>
					<span>{{filter.enabled ? 'true' : 'false'}}</span>
				</div>
			</div>
		</ng-container>
	</div>
	<div class="filter-buttons">
		<button (click)="mediator.reset()">Limpar</button>
		<button [disabled]="!mediator.isValid()" (click)="aplicar()">Aplicar</button>
	</div>

	<span>Filtro eh valido: {{mediator.isValid() | json }} </span>
	<div class="filtro-json">
		<code>
			{{ mediator.getFilterRequest() | json}}
		</code>
	</div>
</div>